* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    font-family: 'Public Sans', sans-serif;
    --button-color: linear-gradient(344deg, rgba(63, 194, 251, 1) 0%, rgba(72, 212, 115, 1) 97%);
    --footer-background: #2D314D;
    --nav-links: #9597A5;
    --hero-background: #f2f2f2;
    --selection-cards-bg: #f4f5f7;


}

main {
    max-width: 1800px;
    margin: 0 auto;
}

.nav__container {
    display: flex;
    padding: 20px 50px;
    justify-content: space-evenly;
    position: relative;
    margin-left: 70px;

}





.nav__link {
    text-decoration: none;
    color: var(--nav-links);
    margin-left: 15px;

}

.nav__link:hover {
    color: var(--footer-background);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.nav__button {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background: var(--button-color);
    border-radius: 20px;
    -webkit-box-shadow: 0px 4px 14px 0px #000000;
    box-shadow: 0px 4px 14px 0px #000000;
}

.nav__button:hover {
    background: linear-gradient(344deg, rgba(63, 118, 251, 1) 0%, rgba(72, 212, 115, 1) 97%);
    transition: 0.2s ease-in-out;
}



/* Hero Section */
.hero {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

}

.hero__text--container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 7rem;
    padding-bottom: 30px;
}

.hero__headline {
    font-size: calc(1rem + 2vw);
    font-weight: 500;
    margin-bottom: 15px;
}

.hero__description {
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: 300;
    color: var(--nav-links)
}

.hero__section--button {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background: var(--button-color);
    border-radius: 20px;
    width: 180px;
    text-align: center;
    -webkit-box-shadow: 0px 4px 14px 0px #000000;
    box-shadow: 0px 4px 14px 0px #000000;
}

.hero__section--button:hover {
    background: linear-gradient(344deg, rgba(63, 118, 251, 1) 0%, rgba(72, 212, 115, 1) 97%);
    transition: 0.2s ease-in-out;
}



.mockups {
    background: url('images/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50px;
    background-position-y: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mockups img {
    width: 85%;
    transform: translate(140px, -50px);
}

/* Choose Section *************/
.choose {


    background: var(--selection-cards-bg);
    padding: 50px;

}


.choose__description--container {
    max-width: 550px;



}

.choose__headline {
    font-size: clamp(1.5rem, 2vw, 3rem);
    margin-bottom: 10px;
    font-weight: 400;

}

.choose__para {
    line-height: 1.4;
    font-weight: 300;
    color: var(--nav-links)
}

.choose__card--container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    align-items: stretch;
    justify-content: center;
    justify-items: center;
    margin-top: 50px;

}



.choose__card--image {
    margin-bottom: 20px;

}



.choose__card--headline {
    margin-bottom: 20px;
    font-weight: 500;
}

.choose__card--para {
    line-height: 1.4;
    font-weight: 300;
    color: var(--nav-links)
}

/* Articles Section ***********/

.articles {
    padding: 50px;
}

.articles__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    align-items: stretch;
    justify-content: center;
}

.article__card img {
    width: 100%;
    object-fit: cover;
    height: 200px;
}






.articles__headline {
    font-size: clamp(1.5rem, 2vw, 3rem);
    margin-bottom: 10px;
    font-weight: 400;
}

.article__title {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 1.2rem;

}

.large {
    height: 200px;
}

.author {
    margin-bottom: 20px;
}

.article__description {
    color: var(--nav-links);
    line-height: 1.4;
}

/* Footer  ******************/
.footer {
    background: rgba(119, 136, 153, 0.678);
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
}


.footer__links--1,
.footer__links--2 {
    display: flex;
    flex-direction: column;
}

.footer__logo {
    margin-bottom: 20px;
}


.icon {
    margin-right: 15px;
    cursor: pointer;
}

.footer__links--1 a,
.footer__links--2 a {
    text-decoration: none;
    color: var(--footer-background);
    margin-bottom: 10px;
}

.footer__links--2 a:hover {
    color: rgb(35, 128, 63);
}


.footer__links--1 a:hover {
    color: rgb(35, 128, 63);
}

.footer__button {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    background: var(--button-color);
    border-radius: 20px;
    width: 180px;
    text-align: center;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 4px 14px 0px #000000;
    box-shadow: 0px 4px 14px 0px #000000;
}

.footer__button:hover {
    background: linear-gradient(344deg, rgba(63, 118, 251, 1) 0%, rgba(72, 212, 115, 1) 97%);
    transition: 0.2s ease-in-out;
}

.footer__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}





















/* Responsive Nav */

@media (max-width: 830px) {

    .nav__container {
        margin-top: 10px;
        justify-content: flex-start;
        padding-left: 0;


    }

    .nav__links--container {
        min-width: 200px;
        top: -30px;
        left: 0;
        bottom: 0;
        height: 130%;
        padding: 30px;
        position: fixed;
        background: linear-gradient(344deg, rgba(63, 118, 251, 1) 0%, rgba(72, 212, 115, 1) 97%);
        text-align: center;
        transition: 0.3s ease-in-out;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 10;
        display: flex;
        border-radius: 5px;
        transform: translatex(-150%);
        -webkit-box-shadow: 0px 6px 15px -2px #000000;
        box-shadow: 0px 6px 15px -2px #000000;



    }

    .nav__links--container.clicked {
        transform: translatex(0);

    }

    .nav__button {
        display: none;
    }



    .nav__links--container {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .nav__link {
        margin-top: 15px;
    }

    .hamburger__menu {
        width: 2.5rem;
        height: 2.5rem;
        position: fixed;
        top: .7rem;
        right: 1rem;
        cursor: pointer;
        background: linear-gradient(344deg, rgba(63, 118, 251, 1) 0%, rgba(72, 212, 115, 1) 97%);
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
        -webkit-box-shadow: -1px 4px 15px -1px #000000;
        box-shadow: -1px 4px 15px -1px #000000;
        z-index: 10;

    }

    .line {
        width: 100%;
        height: 2px;
        background-color: white;
        border-radius: 4px;
        transition: 0.4s
    }


    .nav__link {
        color: black;
        font-size: 1.1rem;
    }

    .nav__link:hover {
        color: rgb(255, 255, 255);
        transition: 0.2s ease-in-out;

    }


    /* hamburger Lines */

    .clicked .line-1 {

        transform: rotate(-45deg) translate(-5px, 5px);
    }

    .clicked .line-2 {
        opacity: 0;
    }

    .clicked .line-3 {

        transform: rotate(45deg) translate(-4px, -5px);
    }
}

/* nav links */

.nav__links--container a {
    opacity: 1;
}


.clicked__overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.363);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;

}

.clicked__overlay.show {
    display: block;
    transition: 0.3s ease-in-out;

}











@media (max-width: 690px) {
    .hero {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .choose,
    .articles {
        padding: 10px;
    }

    .hero__text--container {
        margin: 0 auto;
        text-align: center;
    }

    .mockups {
        background: url('images/bg-intro-mobile.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: 0px;
        background-position-y: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mockups img {
        width: 80%;
        transform: translate(0px, -50px);
    }

    .hero__section--button {
        width: 70%;
        margin: 0 auto;
    }


}

/* Responsive Choose Section */
@media (max-width: 1039px) {
    .choose__card--container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);


    }


    .choose__card {
        text-align: center;
        width: 80%;

    }

    .choose__description--container {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        margin-top: 70px;


    }

    .choose__card {
        margin-bottom: 30px;
    }

}

@media (max-width: 700px) {
    .choose__card--container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);


    }
}


@media (max-width: 500px) {
    .choose__card {
        width: 80%;

    }

}

/* Responsive Articles */
@media (max-width: 1039px) {

    .article__card {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 50px;
    }

    .articles__headline {
        text-align: center;
        margin-bottom: 30px;
    }
}

@media (max-width: 500px) {
    .article__card {
        width: 80%;

    }

}


@media (max-width: 1160px) {
    .articles__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
}

@media (max-width: 650px) {
    .articles__container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }
}


/* Responsive Footer ***********/
@media (max-width: 761px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer__links--1,
    .footer__links--2 {
        align-items: center;
    }

    .footer__links--2 {
        margin-bottom: 20px;
    }

    .footer__icons--container {
        margin-bottom: 20px;
    }

    .footer__right {
        align-items: center;
    }
}